POSTGRES_USER:awx
POSTGRES_PASSWORD:awxpass
POSTGRES_DB:awx
RABBITMQ_DEFAULT_VHOST:awx
SECRET_KEY:aabbcc
SECRET_KEY:aabbcc
DATABASE_USER:awx
DATABASE_PASSWORD:awxpass
DATABASE_NAME:awx
DATABASE_PORT:5432
DATABASE_HOST:postgres
RABBITMQ_USER:guest
RABBITMQ_PASSWORD:guest
RABBITMQ_HOST:rabbitmq
RABBITMQ_PORT:5672
RABBITMQ_VHOST:awx
MEMCACHED_HOST:memcached
MEMCACHED_PORT:11211
TRAEFIK_TOML_FILE:./traefik.toml
SITE_URL: traefik.frontend.rule=Host:awx.mysite.nl
BASE_PATH:/data
CERT_PATH:/etc/letsencrypt
